* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gold;
}

 body {
    background: black;
 }

 .link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

 }

 .link-tree img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     border: 2px solid gold;
                            }

.link-tree h1  {
    font-family: 'Poppins', sans-serif;
}

.link-tree a {
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    background-color: gold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    
}

.link-tree a:hover { 
    background-color: gray;
    border: solid 2px gold;
}


